@model IEnumerable<WdprPretparkDenhaag.Models.Tijdslot>

@{
    ViewData["Title"] = "Index";
    var datum = (DateTime) ViewData["zoekDatum"];
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<div>
    <h2>Zoek Datum: @datum.ToString("dd/MM/yyyy")</h2>
    @* Zoek form *@
<form asp-controller="Tijdslot" asp-action="Index">
    <div class="mb-3 d-flex align-item-center">
        <input type=date name="datum" placeholder="datum" class="form-control mr-1">
        <input class="btn btn-primary" type="submit" value="Zoeken">
    </div>
</form>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BeginTijd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EindTijd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BeginTijd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EindTijd)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>